<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Simulation Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script
      src="https://cdn.socket.io/4.7.4/socket.io.min.js"
      integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
      crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
             document.getElementById('Start').addEventListener('click', function(event) {

                console.log("Start button is clicked!")
                event.preventDefault(); // Prevent default form submission behavior

                var start_text = document.getElementById("start_text").value;
                var current_node = document.getElementById("current_node").value;
                var current_network = document.querySelector('input[name="network-radio"]:checked').value;

                socket.emit("simulate", {'start_text': start_text, 'current_node': current_node, 'current_network': current_network})
            });

        });

      const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
      // const socket = io.connect(location.protocol + '//' + document.domain + ':5555');

      socket.on('connect', function (data) {
          socket.emit('connected', { data: 'I\'m connected!'});
      });

      socket.on('response', function (data) {
          // Clear the current network
          nodes.clear();
          edges.clear();
          // Add nodes and edges from the message data
          nodes.add(data.nodes.map(node => ({id: node.id, label: node.label})));
          edges.add(data.edges.map(edge => ({from: edge.from, to: edge.to, label: edge.label})));
      });


      // Function to send ID via socketio
      function toggleNetwork(id) {
          document.querySelector('.status-bar').style.display = 'none';
          console.log(id + " is selected!");
          socket.emit('message', {'graph': id})
      }

<!--      socket.on('disconnect', function(data){-->
<!--          socket.emit('message', { 'data': 'I\'m disconnected!' });-->
<!--      });-->

      socket.on('light_node', function (data) {
          console.log("light node")
          nodes.update({ "id": data.nid, "color": {background: 'red', border: 'red'} });
      });


      socket.on('simulate_done', function (data) {
          document.querySelector('.status-bar').style.display = 'block';
      });

      function Reset() {
          location.reload();
      }

    </script>

  </head>
  <body>

  <div class="navbar">
    <div>
      <input type="radio" name="network-radio" id="graph-1" value="graph-1" onclick="toggleNetwork('graph-1')" checked/> Network 1
      <input type="radio" name="network-radio" id="graph-2" value="graph-2" onclick="toggleNetwork('graph-2')" /> Network 2
      <input type="radio" name="network-radio" id="graph-3" value="graph-3" onclick="toggleNetwork('graph-3')" /> Network 3
    </div>
  </div>
  <div class="main">
      <div class="sidebar">
        <textarea id="start_text" name="start_text" placeholder="Message" class="textarea"></textarea>
        <input type="text" id="current_node" name="current_node" placeholder="Starting node" class="text">
        <button id="Start" class="button">Start</button>

        <button id="Reset" class="button" onclick="Reset()">Reset</button>

        <div id="done" class="status-bar">
          Simulation done!
        </div>
      </div>


      <div id="mynetwork" class="network-diagram"></div>

  </div>

  <script type="text/javascript">
    // Create a DataSet with initial nodes
    var nodes = new vis.DataSet();
    var edges = new vis.DataSet();

    // Configuration for the Network
    var container = document.getElementById("mynetwork");
    var data = {
      nodes: nodes,
      edges: edges,
    };
    var options = {}; // Specify options as needed

    // Initialize the network
    var network = new vis.Network(container, data, options);

  </script>
  </body>
</html>